<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<body class="<%= classname %>" >
<% include partials/page/header.ejs %>
<div class="container">
    <script type="text/javascript">
        var i, flag=0;
        var number = parseInt(prompt("Enter a positive integer: "));
        var primeNumber;
        for(i=2;i<=number/2;++i)
        {
            if(number%i==0)
            {
                flag=1;
                break;
            }
        }
        if (flag==0)
            document.write(number + "is a prime number.<br>");
        else
            document.write(number + " is not a prime number.<br>");







        for (var j = 1 ; j<=number; j++){
            var counter= 0;
            for (var k = j; k>=1; k--){
                if(j%k==0)
                {
                    counter= counter+1;
                }
            }
            if(counter==2 || counter==1){
                if (primeNumber==NaN){
                    console.log("");
                }
                primeNumber = primeNumber + j + " ";


            }
        }


        document.write("The Series of prime Number is")

        document.write(primeNumber);
    </script>



</div><!-- container -->

 <% include partials/page/footer.ejs %>
 <% include partials/page/jsdefault.ejs %>

</body>
</html>

